name: Deploy AWS Infra

on:
  workflow_dispatch:

jobs:
    deploy-aws-infra:
        runs-on: ubuntu-latest
        permissions:
          id-token: write

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}  # Replace with your actual secret
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}  # Replace with your actual secret
          AWS_REGION: "eu-west-1"

        steps:
          - name: Checkout Code
            uses: actions/checkout@v2

          - name: Configure AWS Credentials 
            uses: aws-actions/configure-aws-credentials@v4
            with:
              role-to-assume: ${{ secrets.PIPELINE_ROLE }}
              aws-region: eu-west-1

          - name: Set up Terraform 
            uses: hashicorp/setup-terraform@v1
            with:
              terraform_wrapper: false

          - name: Terraform Init 
            run: terraform init
            working-directory: ./infra

          - name: Terraform Plan 
            run: terraform plan
            env: 
              TF_VAR_aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
              TF_VAR_iam_user: ${{ secrets.IAM_USER }}
            working-directory: ./infra

          - name: Terraform Apply 
            run: terraform apply -auto-approve
            env: 
              TF_VAR_aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
              TF_VAR_iam_user: ${{ secrets.IAM_USER }}
            working-directory: ./infra
          